*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*Estilo Footer*/
footer{
    background-color: #001136;
    color: #A5C5E9;
    text-align: center;

}