*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration-color: #A5C5E9;
}

/*Estilo Footer*/
footer{
    background-color: #001136;
    color: #A5C5E9;
}

.desarrollo{
    text-align: center;
    font-size: 20pt;
}

.derechos{
    text-align: center;
    font-size: 10pt;
}

.social{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
}


.social i{
    font-size: 25pt;
    margin: 10px 40px 10px 40px;
    color: #A5C5E9;
}